*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.w-70{
    max-width: 75%;
}

.lightbg{
    background-color: lightgray;
}

.fa-eraser:hover{
    transform: scale(1.1);
}